body { 
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
}

h1 {
    opacity: 0%;
    font-size: 8vw;
    font-weight: 100;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin: 2vh 2vw;
    will-change: transform, opacity;
}

#settings {
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
    font-size: 1vw;
}