img {
	width: 30vw;
	margin: 0.6vw;
	outline: 1px solid var(--sec);
	transition: 0.3s;
}

img:hover {
	transform: scale(1.05);
	transition: 0.3s;
	outline: ridge var(--good-green) 15px;
	border-radius: 5px;
}

#imageView {
	height: 60vh;
	width: auto;
}

#previewModal {
	height: 85vh;
	display: none;
	position: absolute;
	z-index: 2;
	border: solid 5px;
}